*{
			margin: 0;
			padding: 0;
		}
		.bodyer{
			width:100%;
			margin: 0 auto;
			text-align: center;
			
		}


		/*导航栏*/

		.top{
			width: 500px;
			height: 50px;
			float: right;
			margin-top: -100px;
			/*background-color: #07B5BE;*/
		}
		.top ul{
			float:right;
		}
		.top li{
			float:right; /*向右浮动*/
			margin-right: 30px;/*调整了间距*/
		}
		.top li a{
			color: #333;
			font-size: 13px;
			font-weight: 700;
			text-decoration: underline;
		}
		.search {
			width: 640px;
			margin-top: 30px;
			margin-left: 280px;
			float: left;
		}
		.text {
			width: 530px;
			height: 34px;
			background: url(../images/camera_blue.png) no-repeat 510px center;
			border: 1px solid #ADA3A3;
		}

		/*百度图片*/

		.tupian001{
			width: 500px;
			height: 150px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 100px;

			/*background-color:#17C9CB;*/

		}
		.tupian002{
			margin-top:380px;
			text-align: center;

		}

		/*页脚*/
		.footer1{
			margin-top: 30px;
		}
		.footer1 a{
			color: #333;
			font-size: 13px;
			/*font-weight: 700;*/
			text-decoration: underline;	
		}
		.footer2{
			margin-top: 10px;
		}
		.footer2 a{
			color: #333;
			font-size: 13px;
			/*font-weight: 700;*/

			text-decoration: underline;	
		}